html {
    margin: 10px;
}

table  {
border: 2px solid silver;
border-collapse: collapse;
}

td  {
border: 2px solid silver;
border-collapse: collapse;
width: 20px;
height: 20px;
text-align: center;
}

td button  {
border: 2px solid silver;
border-collapse: collapse;
width: 20px;
height: 20px;
text-align: center;
}

/* Size of the minefield case */
.td-size {
    width: 25px;
    height: 25px
}

/* Margin used for separate element of difficulty menu */
#difficulty-nav {
    margin: 15px 0px;
}

/* Margin of list of difficulty */
#difficulty-list {
    margin-bottom: 15px;
}

.n0 {
color: silver;
}

.n1 {
color: #1a1aff;
}
.n2 {
color: #33cc33;
}
.n3 {
color: #cc0000;
}
.n4 {
color: #0000b3;
}
.n5 {
color: #6600cc;
}

.n6 {
color: #00ff99;
}
.n7 {
color: #000000;
}
.n8 {
color: #f2f2f2;
}

/* Bold characters on mine table */
.bold {
    font-weight: bold;
}